body {
  margin: 0;
  height:100%;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

ul{
    list-style:none;
}
.top-wrapper{
    width:100%;
    
    z-index:10;
    top:0;
}

.title-logo{
    font-size:30px;
    color:white;
    background-color:rgba(34, 49, 52, 0.9);
    text-align: center;
    
}
.menus{
    text-align:center;

}
.menus a{
    font-size: 30px;
    padding-left:30px;
    float:center;
    font-weight: bold;
}
.menus a:hover{
    
    color:rgba(216, 216, 67, 0.486);
    font-weight: bold;
}

.main-wrapper{
    margin-top:30px;
    text-align:center;
    
}
.skills{
    width:100%;
    display:flex;
    
}
.skill-level{
    margin-left:10px;
    width:20%;
    margin-top:70px;
}
.vision{
    margin-top:30px;
}
.portfolio {
    margin-top:50px;
    display:inline-block;
    text-align: center;
    width:100%;
    color:black;
}
.portfolio a{
    font-weight: normal;
    font-size:30px;
    font-weight: bold;
}
.hover{
    color:rgb(224, 52, 52);
}
.self-introduction{
    text-align: center;
    width:100%;
}
img{
    display:block;
    margin:0 auto;
}

.section-title{
    border-bottom:solid 3px black;
    margin-bottom:5px;
    display:inline-block;
    line-height: 10px;
}

footer{
    margin-bottom:0;
    
    position:relative;
}
.bottom-wrapper{
    padding-bottom:0;
    position:absolute;
    background-color: rgba(65, 49, 49, 0.329);
    width:100%;
}
.footer-logo{
    text-align: center;
}

